#!/usr/bin/env python
# coding: utf-8

debug = True
port = 8888
num_processes = 1

mysql_host = ""
mysql_database = "doodle"
mysql_user = "doodle"
mysql_password = "doodle"

login_url = "/auth/login/"

logging = "info"
cookie_secret = "/Vo="
xsrf_cookies = True

facebook_api_key = ""
facebook_secret = ""

twitter_consumer_key = ""
twitter_consumer_secret = ""

douban_consumer_key = ""
douban_consumer_secret = ""

weibo_api_key = ""
weibo_secret = ""

